page-zonas {
    ion-slides{
        color: aliceblue;
        margin: 0 auto;
        background-image: url(../../assets/imgs/home2.png);
    }
    
    .icoBandera{
        height: 1em;
        width: 1em;
    }

    //color de fondo de los item row 
    .item-md{
        background-color: transparent;
        color:aliceblue;
    }
    
  
        
    
}
